@import "../../../global-theme";

.media-container-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: auto;
	margin-top: 3rem;
	grid-area: media-cont;
}

.media-container {
	// margin-top: 5rem;
	flex: 0 1 100%;
	display: flex;
	justify-content: center;
	height: 60vh;
	width: 45vw;
	position: relative;
	align-items: center;
	justify-content: space-evenly;
	padding-left: 0;
	padding-right: 0;

	.media-content {
		flex: 0 0 55%;
		height: 100%;
		position: relative;
		transition: 0.5s ease;
		width: 100%;
	}
	background: center;
}

.left-field {
	top: 90%;
	left: 25%;
	z-index: 6;
	position: absolute;
	&:hover {
		> * {
			background-color: $accent-teal-darker;
			cursor: pointer;
		}
	}
}

.left-card {
	left: -20%;
	// top: 5%;
	transition: 0.5s;

	background-color: black;
	transition: 0.5s ease;
}

.right-card {
	right: -20%;
	// top: 5%;
	transition: 0.5s all;

	transition: 0.5s ease;
}

.right-field {
	top: 90%;
	right: 25%;
	position: absolute;
	&:hover {
		> * {
			background-color: $accent-teal-darker;
			cursor: pointer;
		}
	}
	z-index: 6;
}

.trigger-field {
	text-align: center;
	padding-top: 0.5rem;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-position: center;
	&:hover {
		background-color: $accent-teal-darker;
		cursor: pointer;
	}
	margin: 0;
}

.material-icons {
	font-size: 2rem;
}

.left-media-cover {
	height: 90%;
	width: 20%;
	position: absolute;
	z-index: 3;
	left: -5vw;
}

.right-media-cover {
	height: 90%;
	width: 20%;
	position: absolute;
	z-index: 3;
	right: -5vw;
}

@media (max-width: 800px) {
	.media-container-wrapper {
		margin-bottom: 5rem;
	}
	.media-container {
		width: 100vw;
		.media-content {
			width: 100%;
			position: absolute;
		}
	}

	.left-field {
		top: 100%;
	}

	.right-field {
		top: 100%;
	}
}

@media (max-width: 1000px) {
	:root {
		--media-card-offset: 0px;
		--media-card-width: 80%;
	}
	.left-card {
		left: -20%;
		top: 5%;
		transition: 0.5s;
		height: 80%;
		width: 80%;
		background-color: black;
		transition: 0.5s ease;
	}

	.right-card {
		right: -20%;
		top: 5%;
		transition: 0.5s all;
		height: 80%;
		width: 80%;
		transition: 0.5s ease;
	}
}
