.right-bar-wrapper {
	top: 9rem;
	right: 2rem;
	height: auto;
	position: fixed;
	width: 20vw;
	.adverts-wrapper {
		margin: 0 0 1rem 0;
		border-radius: 18px;
		padding: 0.5rem;
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 300px;
	}
}

@media (max-width: 1000px) {
	.right-bar-wrapper {
		display: block;
		position: sticky;
		height: auto;
		width: 50vw;
		left: 25vw;
		padding-bottom: 2rem;
	}
	.adverts-wrapper {
		height: 200px;
	}
}
