.media-input-wrapper {
    display: flex;
    height: auto;
    padding: 1rem;
    margin: 10px 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    .media-input-btn-wrapper {
        .col {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .register-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            padding: 0;
            border-radius: 50%;
            .material-icons {
                font-size: 16pt;
            }
        }
        .register-cancel {
            background: rgb(255, 41, 41);
            border: 0;
            &:hover {
                background: rgb(214, 34, 34);
            }
        }
        .register-submit {
            &:hover {
                background: rgb(0, 76, 216);
            }
        }
    }

    .media-input-field {
        color: transparent;
    }
    .media-input-field::-webkit-file-upload-button {
        visibility: hidden;
    }
    .media-input-field::before {
        content: "Select media files";
        color: rgb(255, 255, 255);
        display: inline-block;
        background: rgb(62, 149, 189);
        border: 1px solid #999;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        font-size: 10pt;
    }
    .media-input-field:hover::before {
        border-color: rgba(255, 255, 255, 0);
        background: rgb(36, 130, 173);
    }
    .media-input-field:active {
        outline: 0;
    }
    .media-input-field:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    }

    body {
        padding: 20px;
    }
}

.image-preview-big {
    margin: 20px 20px;
    width: 200px;
    height: 200px;
    background-size: contain;
    background-color: rgb(235, 235, 235);
    background-repeat: no-repeat;
    border: solid 1px rgba(128, 128, 128, 0.171);
    border-radius: 12px;
    box-shadow: 4px 2px 6px 2px rgba(204, 204, 204, 0.67);
    // Some background indicate the path is wrong
}

.video-preview-big {
    margin: 20px 20px;
    width: 400px;
    height: 400px;
    background-color: black;
    // Some background indicate the path is wrong
}
