@import "../../../_global-theme";

.nav-wrapper {
	.header-background {
		padding: 3rem 0;
		position: absolute;
		top: 0;
		width: 100%;
		height: 4rem;
		background: url("https://storage.googleapis.com/your-nutritionist-cdn/header-bg.jpg");
		background-size: cover;
		background-position: center;
	}
	a {
		color: white;
		&:hover {
			color: $accent-color;
			text-decoration: none;
		}
	}

	.logo {
		margin: 0;
		padding: 0;
		box-shadow: 3px 2px 8px 2px rgba(0, 0, 0, 0.5);
		&:hover {
			cursor: pointer;
		}
	}

	.searchBar {
		display: none;
	}
	.color-nav {
		background: rgba(0, 0, 0, 0.452);
		height: 4rem;
		color: white;
		padding: 3rem 3rem;
		a.nav-link {
			color: white;
			&:hover {
				color: $accent-color;
			}
		}
	}
	height: 100px;

	#basic-nav-dropdown {
		font-weight: 700;
	}
	.navbar-toggler {
		background: url("https://storage.googleapis.com/your-nutritionist-cdn/baseline_menu_white_18dp.png");
		background-position: center;
		background-repeat: no-repeat;
		border: solid 1px white;
	}
}

@media (max-width: 1000px) {
	.nav-wrapper {
		height: auto;
		.header-background {
			height: 166px;
		}
		.color-nav {
			height: auto;
		}
	}
}
