@import "../../../global-theme";

$comment-btn-color: rgb(0, 170, 85);

.comment-input.form-control {
	border-radius: 16pt;
	padding: 1rem;
	border-bottom: none !important;
	background-color: $background;
	box-shadow: $box-shadow;
	color: $secondary-txt;
}

.comment-submit-btn-wrapper {
	margin: 0.5rem auto auto auto;
	.comment-submit-btn {
		border: solid 1px $accent-teal;
		background: transparent;
		color: $accent-teal;
		display: flex;
		float: right;
		border-radius: 16pt;

		&:hover {
			border: solid 1px transparent;
			color: $background;
			background: $accent-teal-darker;
		}
	}
}

html[data-theme="dark"] {
	.comment-input {
		box-shadow: $box-shadow-dark;
		background-color: $background-dark;
	}
	.comment-submit-btn {
		&:hover {
			color: $background-dark;
		}
	}
	.comment-input.form-control {
		color: $secondary-txt-dark;
	}
}
