@import "../../../global-theme";

.side-bar-wrapper {
	border-radius: $card-border-radius;
	// border: solid 1px rgba(173, 173, 173, 0.322);
	padding: 0.5rem;
	align-items: center;
	display: flex;
	flex-direction: column;
	h3 {
		font-size: 12pt;
	}
	.side-bar-create {
		margin: 0.25rem;
		border: solid 1px $accent-teal;
		color: $accent-teal;
		border-radius: $card-border-radius;
		width: 10vw;
		text-align: center;
		font-size: 12pt;
		height: auto;
		padding: 0.5rem;
		&:hover {
			color: $background;
			background: $accent-teal;
			cursor: pointer;
		}
	}
}

html[data-theme="dark"] {
	.side-bar-create {
		&:hover {
			color: $background-dark;
		}
	}
}

@media (max-width: 1000px) {
	.side-bar-wrapper {
		position: relative;
		display: flex;
		justify-content: center;
		width: 80vw;
		.side-bar-create {
			width: 200px;
		}
	}
}
