@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@600&display=swap");

:root {
	--header-color: #00acc1;
	--dropdown-color: #00acc1;
}

.color-nav {
	background: #00bcd4;
	padding-top: 0rem;
	padding-bottom: 0rem;
	padding-left: 2rem;
	padding-right: 2rem;
	box-shadow: 0 8px 12px rgba(172, 172, 172, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.navbar-nav a.nav-link.active {
	color: #3a3a3a !important;
	border-bottom: solid 1.5pt #3a3a3ab0;
}

#brand-title a {
	padding: 8pt;
	color: white;
}
#brand-title:hover a {
	color: white;
	text-decoration: none;
	border-radius: 4px;
	background: #0097a7;
}

.navbar-brand {
	font-family: "Lobster", cursive;
}

#brand-color {
	color: white;
}

.navbar-light .navbar-nav .nav-link {
	color: rgb(255, 255, 255);
	font-family: "Catamaran", sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.25px;
	padding: 0.75rem;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: rgb(255, 255, 255);
	border-radius: 6px;
	background: #0097a7;
	padding: 8pt;
	letter-spacing: 0.25px;
	padding: 0.75rem;
}

.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav .show.nav-item .dropdown-toggle {
	font-weight: bold;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	display: inline-block;
}

.navbar-nav .nav-item .dropdown-toggle {
	font-weight: bold;
	color: rgb(255, 255, 255) !important;
	text-transform: uppercase;
	display: inline-block;
}

.navbar-nav .dropdown a.dropdown-item {
	color: var(--dropdown-color);
	font-weight: bold;
	font-family: "Catamaran", sans-serif;
}

/* .show.dropdown.nav-item {
	padding-bottom: 1rem;
} */

.searchBar {
	display: flex;
	/* border: solid 1px black; */
	height: 4vh;
	margin-left: 1rem;
	border: solid 1px rgb(255, 255, 255);
	border-radius: 18px;
	background: #0096a700;
}

.searchBar:focus-within {
	display: flex;
	/* border: solid 1px black; */
	margin-left: 1rem;
	border: none;
	border-radius: 18px;
	background: #0096a7;
	caret-color: #ff5252;
}

.color-nav input[type="text"] {
	width: 200px;
	height: 100%;
	display: inline-block;
	border-radius: 16px;
	border: none;
	padding-left: 1rem;
	padding-right: 1rem;
	color: #ffffff;
	padding-top: 2pt;
	transition: 0.75s all;
	caret-color: #ff5252;
	background: #ffffff00;
}

.color-nav input[type="text"]:focus {
	border: none;
	outline: none;

	transition: 0.5s all;
	color: #ffffff;
}

.color-nav input[type="text"]:focus::-webkit-input-placeholder {
	color: transparent;
}
.color-nav input[type="text"]:focus::-moz-placeholder {
	color: transparent;
}
.color-nav input[type="text"]:focus::-ms-input-placeholder {
	color: transparent;
}
.color-nav input[type="text"]::-webkit-input-placeholder {
	color: #f2f2f2;
}
.color-nav input[type="text"]::-moz-placeholder {
	color: #f2f2f2;
}
.color-nav input[type="text"]::-ms-input-placeholder {
	color: #f2f2f2;
}

.searchBar .search {
	width: 60px;
	height: 100%;
	background: url("https://storage.googleapis.com/your-nutritionist-cdn/baseline_search_white_18dp.png");
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	z-index: 4;
	display: inline-block;
	border-radius: 0 16px 16px 0;
}

.search:hover {
	border-radius: 0 16px 16px 0;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center;
}

.searchBar button.search:focus {
	border: none;
	outline: none;
}

@media (max-width: 1000px) {
	form {
		padding: 0;
		margin: 0;
	}
	.searchBar {
		width: 30vw;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.navbar-nav a.nav-link.active {
		border: none;
	}
}
