@import url("https://fonts.googleapis.com/css?family=Lobster");

@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@600&display=swap");

:root {
	--header-color: #0f0f0f;
	--dropdown-color: #292929;
}

.color-nav {
	background: #181818;
	padding-top: 0rem;
	padding-bottom: 0rem;
	padding-left: 2rem;
	padding-right: 2rem;
	box-shadow: 0 8px 12px rgba(172, 172, 172, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.navbar-nav a.nav-link.active {
	color: #3a3a3a !important;
	border-bottom: solid 1.5pt #3a3a3ab0;
}

#brand-title {
	a {
		padding: 8pt;
		color: rgb(206, 0, 51);
	}

	&:hover a {
		color: white;
		text-decoration: none;
		border-radius: 4px;
		background: rgb(206, 0, 51);
	}
}

.navbar-brand {
	font-family: "Lobster", cursive;
}

#brand-color {
	color: white;
}

.navbar-light .navbar-nav .nav-link {
	color: rgb(255, 255, 255);
	font-family: "Catamaran", sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.25px;
	padding: 0.75rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.show.dropdown.nav-item {
	margin-bottom: 1rem;
	transition: 300ms all;
}

.navbar-light {
	.navbar-nav .nav-link:hover {
		color: rgb(255, 255, 255);
		border-radius: 6px;
		background: rgb(206, 0, 51);
		padding: 8pt;
		letter-spacing: 0.25px;
		padding: 0.75rem;
	}

	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	}
}

.navbar-nav {
	.show.nav-item .dropdown-toggle {
		font-weight: bold;
		color: rgb(206, 0, 51);
		text-transform: uppercase;
		display: inline-block;
	}

	.nav-item .dropdown-toggle {
		font-weight: bold;
		color: rgb(255, 255, 255) !important;
		text-transform: uppercase;
		display: inline-block;
	}

	.dropdown a.dropdown-item {
		color: var(--dropdown-color);
		font-weight: bold;
		font-family: "Catamaran", sans-serif;
	}
}

/* .show.dropdown.nav-item {
	padding-bottom: 1rem;
} */

.searchBar {
	display: flex;

	/* border: solid 1px black; */
	height: 40px;
	margin-left: 1rem;
	border: solid 1px rgb(206, 0, 51);
	border-radius: 18px;
	background: #0096a700;

	&:focus-within {
		display: flex;

		/* border: solid 1px black; */
		margin-left: 1rem;
		border: none;
		border-radius: 18px;
		background: #2c2c2c;
		caret-color: #ff5252;
	}
}

.color-nav input[type="text"] {
	width: 200px;
	height: 100%;
	display: inline-block;
	border-radius: 16px;
	border: none;
	padding-left: 1rem;
	color: #ffffff;
	padding-top: 2pt;
	transition: .75s all;
	caret-color: #ff5252;
	background: #ffffff00;
	max-width: 20%;

	&:focus {
		border: none;
		outline: none;
		max-width: 100%;
		transition: 0.4s all;
		color: #ffffff;

		&::-webkit-input-placeholder,
		&::-moz-placeholder,
		&::-ms-input-placeholder {
			color: transparent;
		}
	}

	&::-webkit-input-placeholder,
	&::-moz-placeholder,
	&::-ms-input-placeholder {
		color: transparent;
	}
}

.searchBar {
	.search {
		width: 60px;
		height: 100%;
		background: url("https://storage.googleapis.com/your-nutritionist-cdn/baseline_search_white_18dp.png");
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		z-index: 4;
		display: flex;
		border-radius: 0 16px 16px 0;
		display: none;
	}

	width: 20%;
	background: url("https://storage.googleapis.com/your-nutritionist-cdn/baseline_search_white_18dp.png");
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	color: transparent;
	margin-top: 1rem;
}

.search:hover {
	border-radius: 0 16px 16px 0;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center;
	transition: 3s all;
}

.searchBar {
	&:focus-within {
		width: 90%;
		transition: 300ms all ease;

		button.search {
			display: inline-block;
			transition: 2s all ease;
		}
	}

	button.search:focus {
		border: none;
		outline: none;
	}
}

@media (max-width: 1000px) {
	form {
		padding: 0;
		margin: 0;
	}

	.searchBar {
		display: flexbox;
		background: url("https://storage.googleapis.com/your-nutritionist-cdn/baseline_search_white_18dp.png");
		background-repeat: no-repeat;
		background-position: center;
		padding-right: 0;
		width: 8vw;
		margin: 1rem 0 1rem 1vw;
		height: 3rem;

		&:focus-within {
			display: flexbox;
			background: #008c9e;
			width: 25vw;
			margin-left: 1vw;
			width: 50vw;
		}
	}

	.color-nav input[type="text"] {
		width: 0%;
		max-width: 0%;

		&:focus {
			width: 100%;
			max-width: 100%;
		}
	}

	.searchBar {
		.search {
			display: none;
		}

		&:focus-within .searchBar .search {
			display: inline-block;
			transition: 1s all;
		}
	}

	.navbar-nav a.nav-link.active {
		border: none;
	}
}
