@import "../../../global-theme";

.modal-header {
	background: $accent-blue-dark;
}

.cancel-post-btn.btn.btn-primary {
	background: transparent;
	border: solid 1px $btn-cancel;
	color: $btn-cancel;
	&:hover {
		color: $background;
		background: $btn-cancel;
	}
	width: 100%;
}

.create-post-btn.btn.btn-primary {
	background: transparent;
	border: solid 1px $btn-primary;
	color: $btn-primary;
	width: 100%;
	&:hover {
		color: $background;
		background: $btn-primary;
	}
}

html[data-theme="dark"] {
	.modal-body {
		background: $background-dark;
	}
	.form-control {
		background: $background-dark;
		color: $primary-txt-dark;
	}
	.modal-content {
		background: $background-dark;
	}
}