button.edit-intro-btn {
	display: inline-block;
	width: 30px;
	height: 30px;
	padding: 0;
	text-align: center;
	background-color: transparent;
	color: rgb(53, 53, 53);
	border: solid 1px rgb(39, 39, 39);
	border: none;
}

p.subtitle {
	display: inline-block;
}
