:root {
    --media-card-offset: 0px;
    --media-card-width: 100%;
}

@media (min-width: 300px) {
    :root {
        --media-card-offset: 0px;
        --media-card-width: 100vw;
    }
    .media-card {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 576px) {
    :root {
        --media-card-offset: 0px;
        --media-card-width: 100%;
    }
}

@media (min-width: 768px) {
    :root {
        --media-card-offset: 50px;
        --media-card-width: 80%;
    }
}

@media (min-width: 992px) {
    :root {
        --media-card-offset: 100px;
        --media-card-width: 70%;
    }
}

@media (min-width: 1200px) {
    :root {
        --media-card-offset: 150px;
        --media-card-width: 60%;
    }
}

.media-card {
    height: 80vh;
    max-height: 100%;
    background-color: rgb(185, 185, 185);
    position: absolute;
    transition: 0.5s;
    background-size: cover;
    box-shadow: 2px 2px gray;
    width: 100%;
    top: 3%;
    left: 8%;
    background-size: cover;
    border-radius: 12px;
}

.left-card {
    position: absolute;
    top: 5%;
    left: calc(
        60% - min(var(--media-card-width), 1140px) / 2 -
            var(--media-card-offset)
    );
    height: 50vh;
}

.right-card {
    position: absolute;
    top: 5%;
    left: calc(
        10% - min(var(--media-card-width), 1140px) / 2 +
            var(--media-card-offset)
    );
    height: 50vh;
}
/* @media (min-width: 576px) {
    .media-card{
        left: calc(50% - var(--width-s) / 2);
        width: var(--width-s);
    }
}


@media (min-width: 768px) { 
    .media-card{
        left: calc(50% - var(--width-m) / 2);
        width: var(--width-m);
    }
}


@media (min-width: 992px) {
    .media-card{
        left: calc(50% - var(--width-l) / 2);
        width: var(--width-l);
    }
}

@media (min-width: 1200px) {
    .media-card{
        left: calc(50% - var(--width-xl) / 2);
        width: var(--width-xl);
    }
 } */
