:root {
    --media-card-offset: 0px;
    --media-card-width: 100%;
}


@media (min-width: 576px) {
    :root{
        --media-card-offset: 0px;
        --media-card-width: 100%;
    }
}


@media (min-width: 768px) {
    :root{
        --media-card-offset: 50px;
        --media-card-width: 80%;
    }
}


@media (min-width: 992px) {
    :root{
        --media-card-offset: 100px;
        --media-card-width: 70%;
    }
}


@media (min-width: 1200px) {
    :root{
        --media-card-offset: 150px;
        --media-card-width: 60%;
    }
}


.media-card{ 
    left: calc(50% - min(var(--media-card-width), 1140px) / 2);
    width: var(--media-card-width);
    height: 40vh;
    max-width: 100%;
    background-color: black;
    align-items: center;
    position: absolute;
    transition: 0.5s;
    background-size: cover;
    box-shadow: 2px 2px gray;
}

.left-card{
    left: calc(50% - min(var(--media-card-width), 1140px) / 2 - var(--media-card-offset));
    height: 35vh;
}

.right-card{
    left: calc(50% - min(var(--media-card-width), 1140px) / 2 + var(--media-card-offset));
    height: 35vh;
}
/* @media (min-width: 576px) {
    .media-card{
        left: calc(50% - var(--width-s) / 2);
        width: var(--width-s);
    }
}


@media (min-width: 768px) { 
    .media-card{
        left: calc(50% - var(--width-m) / 2);
        width: var(--width-m);
    }
}


@media (min-width: 992px) {
    .media-card{
        left: calc(50% - var(--width-l) / 2);
        width: var(--width-l);
    }
}

@media (min-width: 1200px) {
    .media-card{
        left: calc(50% - var(--width-xl) / 2);
        width: var(--width-xl);
    }
 } */



