.profile-pic {
    background-color: teal;
    background-image: url("https://cdn.vox-cdn.com/thumbor/H9Ph7ayZO85_HSoCyy_zdbwQZNA=/0x523:2679x2532/1400x1400/filters:focal(0x523:2679x2532):format(jpeg)/cdn.vox-cdn.com/uploads/chorus_image/image/48650407/GettyImages-460007618.0.jpg");
    background-size: contain;
    width: 150px;
    height: 150px;
    min-width: 150px;
    border-radius: 50%;
}

.title {
    font-size: 25px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.subtitle {
}

.headline {
    font-size: 12px;
}

@media screen and (min-width: 500px) {
    .profile-pic {
        width: 200px;
        height: 200px;
        min-width: 200px;
    }

    .title {
        font-size: 30px;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }

    .subtitle {
        font-size: 16px;
    }

    .headline {
        font-size: 14px;
    }
}

@media screen and (min-width: 900px) {
    .profile-pic {
        width: 250px;
        height: 250px;
        min-width: 250px;
    }

    .title {
        font-size: 35px;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }

    .subtitle {
        font-size: 17px;
    }

    .headline {
        font-size: 15px;
    }
}

@media screen and (min-width: 1300px) {
    .profile-pic {
        width: 300px;
        height: 300px;
        min-width: 300px;
    }

    .title {
        font-size: 40px;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }

    .subtitle {
        font-size: 20px;
    }

    .headline {
        font-size: 20px;
    }
}

.user-head {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
}

.user-info {
    padding-left: 10px;
    display: flex;
    flex-direction: column-reverse;
}
