:root {
    --media-card-offset: 0px;
    --media-card-width: 100%;
}

@media (min-width: 200px) {
    :root {
        --media-card-offset: 0px;
        --media-card-width: 50vw;
    }
}

@media (min-width: 576px) {
    :root{
        --media-card-offset: 0px;
        --media-card-width: 60%;
    }
}


@media (min-width: 768px) {
    :root{
        --media-card-offset: 100px;
        --media-card-width: 100%;
    }
}


@media (min-width: 992px) {
    :root{
        --media-card-offset: 200px;
        --media-card-width: 70%;
    }
}


@media (min-width: 1200px) {
    :root{
        --media-card-offset: 1700px;
        --media-card-width: 70%;
    }
}

.media-container{
    height: 40vh;
    max-width: 80vw;
    margin: 2rem;
    position: relative;
    padding: 15%;

}

.left-field{
    position: absolute;
    z-index: 2;
    margin-top: 20vh;
    left: 0;
    height: 20vh; /* Remember to use var with this */

}

.right-field{
    position: absolute;
    z-index: 2;
    margin-top: 20vh;
    right: 0;
    height: 20vh;

}

.left-media-cover{
    display: none;
}

.right-media-cover{
    display: none;
}

.trigger-field{
    background: rgba(85, 85, 85, 0.6);
    width: 5vw;
    height: 100%;
    border-radius: 5px;
    font-size: calc(300% - var(--media-card-width));
    text-align: center;
    padding-top: 9vh;
    line-height: 0;
    color: rgb(195, 104, 0)
}

.trigger-field:hover {
    background-color: rgba(195, 104, 0, 0.5);
    transition: 0.5s;
}
