.media-container {
	margin-top: 5rem;
	flex: 0 1 100%;
	display: flex;
	justify-content: center;
	height: 40rem;
	position: relative;
	align-items: center;
	justify-content: space-evenly;
	padding-left: 0;
	padding-right: 0;

	.media-content {
		flex: 0 0 55%;
		height: 100%;
		position: relative;
		transition: .5s ease;
	}
	background: center;
}

.left-field {
	left: 20px;
	position: absolute;
}

.right-field {
	right: 20px;
	position: absolute;
}

.trigger-field {
	text-align: center;
	padding-top: .5rem;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-position: center;
	&:hover {
		background-color: rgba(128, 128, 128, 0.281);
		cursor: pointer;
	}
	margin: 0;
}

.material-icons {
	font-size: 2rem;
}

.left-media-cover {
	height: 90%;
	width: 20%;
	position: absolute;
	z-index: 3;
	left: -11vw;
}

.right-media-cover {
	height: 90%;
	width: 20%;
	position: absolute;
	z-index: 3;
	right: -11vw;
}

@media (max-width: 900px) {
	.media-container {
		.media-content {
			width: 100%;
			position: absolute;
		}
	}

	.left-field {
		top: 100%;
	}

	.right-field {
		top: 100%;
	}
}

@media (min-width: 1000px) {
	:root {
		--media-card-offset: 0px;
		--media-card-width: 80%;
	}
	.left-card {
		left: -20%;
		top: 5%;
		transition: .5s;
		height: 80%;
		width: 80%;
		background-color: black;
		transition: .5s ease;
	}

	.right-card {
		right: -20%;
		top: 5%;
		transition: .5s all;
		height: 80%;
		width: 80%;
		transition: .5s ease;
	}
}
