.sidebar-container {
	position: sticky;
	left: 2rem;
	top: 1rem; // T de cai nay sticky co gi m sua lai giup t
	margin-top: 1rem;
	height: auto;
	width: 20vw;
	display: grid;
	margin: 1rem auto;
	#trending-title {
		display: none;
	}
}

@media (max-width: 1000px) {
	.sidebar-container {
		display: none;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		top: 0;
		left: 0;
		margin-bottom: 2rem;
		width: auto;
		#trending-title {
			margin: 1rem 0;
			color: grey;
		}
	}
}
