.user-wrapper {
	width: 50vw;
	margin-bottom: 2rem;
	.user-content-wrapper {
		display: flex;
		margin-bottom: 0;
		position: relative;
		z-index: 2;
		.content-nav {
			font-size: 16pt;
			margin: 0 0 0 0;
			border: solid 1px transparent;
			height: 3.5rem;
			width: 7rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.content-nav-active {
			border-bottom: solid 2px rgb(252, 121, 143);
			transition: 1s all;
		}
	}
	.recipe-list-wrapper {
		position: relative;
		z-index: 1;
	}
}

.no-content {
	padding: 1rem;
}
