.rating-header {
	margin: 1rem 0;
	.add-comment-wrapper {
		margin: 0 0 1rem 0;
		align-items: center;
		padding-top: 0;
	}
}

#overall-rating {
	text-align: right;
	text-transform: lowercase;
	font-weight: 500;
}

.star-rating-wrapper {
	justify-content: center;
	display: flex;
}

#rating-total {
	padding: 0 1rem;
	font-size: 20px;
	font-weight: 200;
}

.add-comment-wrapper {
	display: flex;
}

@media (max-width: 900px) {
	#rating-total {
		display: none;
	}
}
