button.edit-intro-btn {
	font-size: 12pt;
	padding: 0;
	background-color: transparent;
	color: rgb(53, 53, 53);
	border: solid 1px rgb(39, 39, 39);
	border: none;
	.material-icons {
		font-size: 12pt;
		padding: 0.2rem;
		&:hover {
			background: teal;
			color: rgb(221, 221, 221);
		}
	}
	&:hover {
		background: none;
		border: none;
	}
}
