.trending-card {
	height: 30vh;
	background-repeat: no-repeat;
	background-position: center;
	background-color: grey;
	margin: 1rem 0 1rem 0;
	background-size: cover;
	margin-top: 2rem;
}

.trending-txt {
	position: absolute;
	display: block;
	bottom: 0;
	padding: 2rem 2rem;
	background: rgba(0, 0, 0, 0);
	width: 100%;
	color: rgba(187, 187, 187, 0.685);
	font-size: 32pt;
	font-weight: bold;
}

@media (max-width: 500px) {
	.trending-card {
		height: 20vh;
	}
	.trending-txt {
		padding: 0;
	}
}
