.flexbox {
	border-bottom: solid 1px grey;
}

.image-video-list .media-name.col {
	width: 8vw;
	padding-top: 2rem;
	font-weight: bold;
}

.image-video-list .media-edit-btn {
	justify-content: center;
	align-items: center;
	display: flex;
}

@media (max-width: 800px) {
	.image-video-list .media-name.col {
		font-weight: bold;
		justify-content: center;
		align-items: center;
	}
	.image-video-list .media-url.col {
		width: 100%;
		height: 100px;
		overflow: hidden;
		text-overflow: ellipsis;
		justify-content: center;
		align-items: center;
	}
	.image-video-list .media-edit-btn {
		justify-content: center;
		align-items: center;
	}
	.image-video-list .media-edit-btn .button {
		display: inline;
	}
}
