.user-info-wrapper {
	display: grid;
	background-color: rgba(255, 255, 255, 0.26);
	padding: 1rem;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 1fr;
	height: auto;
	border-bottom: solid 1px rgb(206, 206, 206);
	margin-bottom: 1rem;
	grid-template-areas: "profile-pic username" "profile-pic username";
	.user-head-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.profile-pic {
		margin: 1rem 2rem;
		height: 150px;
		width: 150px;
		background-size: cover;
		background-position: center;
		border-radius: 50%;
		grid-area: "profile-pic";
		.editable {
			background: rgba(0, 0, 0, 0);
			height: 100%;
			width: 100%;
			border-radius: 50%;
			&:hover {
				background-color: rgba(0, 0, 0, 0.288);
				background-image: url("https://storage.googleapis.com/your-nutritionist-cdn/baseline_create_white_18dp.png");
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
	}
	.username-wrapper {
		grid-area: "username";
		display: flex;
		align-items: center;
		.username {
			width: 100%;
			.title {
				font-size: 32pt;
				font-weight: bold;
				font-family: "Helvetica";
			}
			.subtitle {
				font-size: 16pt;
				color: rgb(179, 179, 179);
			}
		}
		.headline-wrapper {
			margin: 1rem 0;
			font-size: 16pt;
		}
		.edit-headline-wrapper {
			width: 100%;
			textarea {
				margin: 0.5rem 0;
				width: 100%;
				padding: 0.5rem;
			}
			.submit-edit-btn {
				background: rgb(34, 111, 255);
				width: 100px;
				color: white;
				height: 40px;
				&:hover {
					background: rgb(21, 85, 202);
				}
			}
			.cancel-edit-btn {
				background: rgb(255, 66, 66);
				width: 100px;
				color: white;
				height: 40px;
				outline: none;
				border: none;
				&:hover {
					background: rgb(209, 41, 41);
				}
			}
		}
	}
}
