// Style variables
@import "../../../global-theme";

$card-height: 40vh;
$card-width: 100%;

.media-card {
	height: $card-height;
	width: $card-width;
	position: absolute;
	transition: all 0.5s;
	top: -5%;
	box-shadow: $box-shadow;
}

.left-card {
	z-index: 2;
}

.right-card {
	z-index: 1;
}

html[data-theme="dark"] {
	.media-card {
		box-shadow: $box-shadow-dark;
	}
}
