@import "../../../global-theme";

.recipe-card-wrapper {
	display: flex;
	justify-content: center;
}

.recipe-row {
	justify-content: center;
	align-items: center;
}

.recipe-card {
	justify-content: center;
	padding: 1rem;
	border-radius: 18px;
	width: 50vw;
	margin: 2rem 0;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-areas: "recipe-image recipe-name" "recipe-image recipe-info";
	.recipe-image {
		grid-area: recipe-image;
		width: 20vw;
		height: auto;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.recipe-name {
		color: $primary-txt;
		grid-area: recipe-name;
		padding: 1rem 2rem;
		font-size: 24pt;
	}
	.recipe-info {
		grid-area: recipe-info;
		padding: 1rem 2rem;
		color: grey;

		p.info {
			line-height: 2rem;
			font-size: 14pt;
			.material-icons {
				font-size: 20pt;
				display: inline-flex;
				vertical-align: middle;
			}
		}
	}
}

@media (max-width: 800px) {
	.recipe-card {
		width: 100vw;
		grid-template-columns: 1fr 2fr;
		.recipe-image {
			width: 100%;
		}
		.recipe-name {
			font-size: 16pt;
		}
		.recipe-info {
			p.info {
				font-size: 10pt;
				.material-icons {
					font-size: 16pt;
				}
			}
		}
	}
}

html[data-theme="dark"] {
	.recipe-name {
		color: $primary-txt-dark;
	}
}
