.rating-card {
	height: 16vh;
	margin-bottom: 2rem;
	border-radius: 16px;
	display: block;
	overflow-y: hidden;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.rating-card .comment-profile {
	height: 80px;
	width: 80px;
	border: solid .5px rgba(128, 128, 128, 0.452);
	margin: 1rem;
	display: inline-block;
	position: absolute;
	left: 1vw;
	background: grey;
}

.rating-card .comment-user {
	display: inline-block;
	width: 400px;
	text-align: justify;
	position: absolute;
	left: 10vw;
}

.rating-card .comment-user p {

}
