.subtitle {
    color: gray;
    font-size: 15px;
}

.title {
    color: black;
    font-weight: 700;
    font-size: 30px;
}

.section-name {
    margin-left: 5px;
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 20px;
}

.subsection-name {
    margin-left: 20px;
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 15px;
}

.description {
    margin-left: 5px;
}

p {
    margin-bottom: 2px;
    font-size: 15px;
}


/* .items{
    font-size: 5px;
} */