.rating-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#overall-rating {
    border: solid 1px grey;
    width: 12vw;
    height: 3vh;
    margin-top: 1rem;
    text-align: center;
}

.rate{
    display: flex;
    flex-direction: row;
}