.media-preview-card{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: gray; //Something that feels like the image is wrong
    margin: 10px 10px;
    background-position: center;
    background-size: cover;
}

.media-preview-card-current{
    box-shadow: 2px 2px orange;
}

.media-add{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: white;//Something that feels like this is a add button
    margin: 10px 10px;
}

