@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@600&display=swap");

@import "~material-design-icons/iconfont/material-icons.css";

// Global palette
$accent-red: rgb(250, 114, 132);
$accent-red-lighter: rgb(255, 153, 167);
$accent-red-darker: rgb(255, 90, 112);
$accent-teal: #38d1b0;
$accent-teal-lighter: #69d4bd;
$accent-teal-darker: #26be9d;

// Light theme color palette
$background: white;
$primary-txt: rgb(12, 12, 12);
$secondary-txt: rgb(64, 64, 64);
