.spa-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "onethird twothirds threethirds";
	// justify-content: space-between;
	grid-auto-flow: dense;

	> * {
		padding: 1rem;
		justify-content: center;
		align-items: center;
	}
	> .one-third {
		grid-area: onethird;
	}
	> .two-thirds {
		grid-area: twothirds;
	}
	> .three-thirds {
		grid-area: threethirds;
	}
}

@media (max-width: 1000px) {
	.spa-wrapper {
		grid-template-columns: none;
		grid-template-areas: "onethird" "twothirds" "threethirds";
		> * {
			padding: 0;
		}
	}
}
